.titl{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(60, 0, 0, 1);
    color: rgba(200,200,200,.7);
    height: fit-content;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 50px;
}