<!DOCTYPE html>
<html>
<head>
	<title>Singularity</title>
</head>
<body>
	<h1>Flight no {{Flight.id}} details</h1>
	<h3>ORIGIN :{{Flight.origin}}</h3>
	<h3>DESTINATION :{{Flight.destination}}</h3>
	<h3>DURATION :{{Flight.duration}}</h3>
	{% for pass in Passengers %}
		<h4>{{pass}}</h4>
	{% empty %}
		<h4>no passengers</h4>
	{% endfor %}
	<h2>Add a new Passenger</h2>
	{% if nonPassengers %}
	<form action="{% url 'register' Flight.id %}" method="post">
		{% csrf_token %}
		<select name="passenger">
			{% for non in nonPassengers %}
			<option value="{{non.id}}">{{non.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="Register Flight">
	</form>
	{% else %}
	<div>No passenger left</div>
	{% endif %}
	<a href="{% url 'borot' %}">go back</a>
</body>
</html>